nav.navbar.navbar-light.bg-light.fixed-top.navbar-expand-md
  a.navbar-brand(href="#") HOME
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse(id='navbarSupportedContent')
    //- .navbar-right 沒了，改用 ml-auto
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#section_ai') 智能選禮
      li.nav-item
        a.nav-link(href='#section_hot') 熱門排行
      li.nav-item
        a.nav-link(href='#section_category') 卡片寫手


header.jumbotron
  .container
    h1(data-0="transform: translateY(0px)" data-500="transform: translateY(100px)") 送禮達人
    hr
    h4(data-0="transform: translateY(0px)" data-500="transform: translateY(100px)") 為您重要的人獻上最好的祝福～
  
    
    
section#section_ai
  .container
    .row
      .col-md-12
      h2(data-bottom-top="transform: translateY(-30px); opacity:0" data-center="transform: translateY(0px); opacity:1") 智能選禮
    .row
      .col-md-12.col.sm-12
        p(data-bottom-top="transform: translateY(-30px); opacity:0" data-center="transform: translateY(0px); opacity:1") 讓我們猜猜看她/他的心思吧～
  .container-fluid
    .row.no-gutters
      .col-sm-12(
        data-bottom-top="transform: translateY(-50px);opacity: 0",
        data-center="transform: translateY(0px);opacity: 1"
      )
        
        hr
      .col-md-3.col-sm-6
        .img_wrap(
          data-bottom-top="transform: translateY(-50px);opacity: 0",
          data-center="transform: translateY(0px);opacity: 1"
        )
          a(href="https://www.pinkoi.com/event/xmas2020?_login=campaign_signup&campaign=xmas2020&next=%2Fevent%2Fxmas2020%3FgameMode%3Dinitial")
            img(
            src="https://cdn04.pinkoi.com/pinkoi.site/topic/keyword_1605673272_MdgHFw_600x600.jpeg",
              alt=""
            )
            .cross 居家生活

      .col-md-3.col-sm-6
        .img_wrap(
          data-bottom-top="transform: translateY(-50px);opacity: 0",
          data-center="transform: translateY(0px);opacity: 1"
        )
          img(
            src="https://s3.mysport.com.tw/image/pages/1aee7b1a68352916efd904d8709a2502.jpeg",
            alt=""
          )
        .cross 運動健身

      .col-md-6.col-sm-6
        .img_wrap(
          data-bottom-top="transform: translateY(-50px);opacity: 0",
          data-center="transform: translateY(0px);opacity: 1"
        )
          img(
            src="https://cdn.shopify.com/s/files/1/0015/1185/0042/products/biscoff-cupcakes-2_1280x1280@2x.jpg?v=1581069530",
            alt=""
          )
        .cross 甜點美食


      .col-md-6.col-sm-6
        .img_wrap(
          data-bottom-top="transform: translateY(-50px);opacity: 0",
          data-center="transform: translateY(0px);opacity: 1"
        )
          img(
            src="https://auto.epochtimes.com/uploaded_files/2017/6-21/e000562723524226b49f2a3d38407ae6.jpg",
            alt=""
          )
        .cross 旅遊走走

      .col-md-3.col-sm-6
        .img_wrap(
          data-bottom-top="transform: translateY(-50px);opacity: 0",
          data-center="transform: translateY(0px);opacity: 1"
        )
          img(
            src="https://tzublog.com/wp-content/uploads/2020/05/movie_drama002.png",
            alt=""
          )
        .cross 影劇放鬆

      .col-md-3.col-sm-6
        .img_wrap(
          data-bottom-top="transform: translateY(-50px);opacity: 0",
          data-center="transform: translateY(0px);opacity: 1"
        )
          img(
            src="https://i.ytimg.com/vi/pWAb0uONBeE/maxresdefault.jpg",
            alt=""
          )
        .cross 音樂饗宴
        
        
        
section#section_hot
  .container
    .row
      .col-md-12
        h2(data-bottom-top="transform: translateY(-30px); opacity:0" data-center="transform: translateY(0px); opacity:1") 熱門排行
    .row
      .col-md-3.col-sm-3
        .img_wrap(data-bottom-top="transform: translateX(-500px); " data-center="transform: translateX(0px);")
          img(src="//cdn01.pinkoi.com/product/wni8haK6/0/1/220x220.jpg", alt="")
          
          p 潑墨時尚系列 | 炫彩潑墨  | 50 入 1 盒 | 成人醫療口罩
         
          
      .col-md-3.col-sm-3

        .img_wrap(data-bottom-top="transform: translateX(-500px); " data-center="transform: translateX(0px);")
          img(src="//cdn02.pinkoi.com/product/XKJSTKS5/0/9/220x220.jpg", alt="")
          p 【新上市】Vana Candles故事版香氛蠟燭暖燈禮盒 共2款
          
      .col-md-3.col-sm-3
       .img_wrap(data-bottom-top="transform: translateX(-500px); " data-center="transform: translateX(0px);")
        img(src="//cdn01.pinkoi.com/product/wwfE5vZD/0/1/220x220.jpg", alt="")
        p 一片一片 / 超人年曆手帳#9
        
          
      .col-md-3.col-sm-3

        .img_wrap(data-bottom-top="transform: translateX(-500px); " data-center="transform: translateX(0px);")
          img(src="//cdn01.pinkoi.com/product/rsPjVarh/0/7/220x220.jpg", alt="")
          p 【聖誕包裝禮物】聖誕款五入噴霧禮盒/獨家/期間限定款/交換禮物
          
    .row
      .col-md-3.col-sm-3
        .img_price(data-bottom-top="transform: translateX(-500px); " data-center="transform: translateX(50px);") 1000
      .col-md-3.col-sm-3
        .img_price(data-bottom-top="transform: translateX(-500px); " data-center="transform: translateX(50px);") 1000
        
      .col-md-3.col-sm-3
        .img_price(data-bottom-top="transform: translateX(-500px); " data-center="transform: translateX(50px);") 1000
        
      .col-md-3.col-sm-3
        .img_price(data-bottom-top="transform: translateX(-500px); " data-center="transform: translateX(50px);") 1000


section#section_category
  footer.jumbotron
    .container
      h2 卡片寫手
      input.form-control(placeholder="重要的他/她的名字～")
      hr
      a(href="https://zh.wikipedia.org/wiki/%E5%8C%96%E5%A6%9D%E5%93%81" target="_blank").btn.btn-primary 寫信
    
  
